[MESSAGES CONTROL]
disable=logging-format-interpolation,too-many-arguments,invalid-name,no-member,too-many-locals,too-many-statements,too-few-public-methods
max-line-length=79
[BASIC]
good-names=i,j,k,x,y,xs,ys,t,ac,ob,acs,obs,p
