numpy
scipy
pandas
seaborn
# CPU
tensorflow>=1.4
# GPU
# tensorflow-gpu>=1.4
mujoco-py>=1.50
gym==0.9.5
ray==0.2.2
cloudpickle==0.4.1
terminaltables
git+git://github.com/vlad17/gym2.git@master#egg=gym2
